.viewconfirmgame{
    background-color: rgb(21, 19, 46);
}
.label_menu {
    height: 500px;

}
.menu_label_right {
    
    background-color: rgb(70, 70, 226);
    height: 50%;
    border-radius: 10px 10px;
}

.menu_label_left {
    background-color: rgb(226, 66, 66);
    height: 50%;
    border-radius: 10px 10px;
}
h3{
    margin: 0;
    text-align: center;
    color:white;
}

.btn-light {
    background-color:white;
    margin-top:50px;
    color: black;
}