body{
    background-color: rgb(21, 19, 46);
    }

    .title_question{
    text-align: center;
    color: black(5, 92, 255);
    font-size: 15px;
    font-family: monospace;
    margin-top: 2%;
    background-color: white;
    width: 70%;
    margin-left: 15%;
}

 .ViewMenu {
    background-color: white;
}

.label_resp {
    position:absolute;
    left: 50%;
    width:30em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 25px black;
    border-radius: 5px 5px;
}

.btn {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    outline: none;
    display: block;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: rgb(0, 133, 221);
    color: white;
    font-family: monospace;
    line-height: 1.5em;
    height: 60px;
    border-radius: 5px 10px;
  }
  .btn:hover {
    border: 1px solid #bbb;
    background-position: left -78px;
  }
  .btn:active {
    color: rgb(0, 183, 255);
    background-position: left -38px;
  }